* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    margin: 100px auto;
    width: 1366px;
    background-color: cornsilk;
    border-radius: 10px;
    text-align: center;
}

button{
    padding: 12px;
    background-color: green;
    color: white;
    font-weight: bold;
}

form input{
    width: 600px;
    padding: 12px;
}

.resultado{
    margin-top: 16px;
}

.resultado h2,p{
    padding: 8px;
}